@model ProjetoBancoKRT.Models.Transferir

<div class="container d-flex justify-content-center align-items-center min-vh-80">
    <div class="card p-4 shadow" style="max-width: 600px; width: 100%;">
        <h2 class="text-center mb-4">Transferência de Pix</h2>
        <form method="post" asp-action="Transferir">
            <div class="form-group">
                <label for="cpfOrigem">CPF (Origem)</label>
                <input type="text" maxlength="11" name="CpfOrigem" id="cpfOrigem" class="form-control" value="@Model.CpfOrigem" required />
            </div>

            <div class="form-group">
                <label for="cpfDestino">CPF (Destino)</label>
                <input type="text" maxlength="11" name="CpfDestino" id="cpfDestino" class="form-control" value="@Model.CpfDestino" required />
                <span asp-validation-for="CpfDestino" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" name="Valor" id="valor" class="form-control" value="@Model.Valor" required min="1" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success">Transferir</button>
            </div>

            @if (TempData["Message"] != null)
            {
                <div id="message" class="alert alert-info">
                    @TempData["Message"]
                </div>
            }
        </form>
    </div>
</div>

